@font-face {
        font-family: "AnonymousPro-Bold";
        src: url("@/assets/fonts/AnonymousPro-Bold.ttf");
}

@font-face {
        font-family: "AnonymousPro-BoldItalic";
        src: url("@/assets/fonts/AnonymousPro-BoldItalic.ttf");
}

@font-face {
        font-family: "AnonymousPro-Italic";
        src: url("@/assets/fonts/AnonymousPro-Italic.ttf");
}

@font-face {
        font-family: "AnonymousPro-Regular";
        src: url("@/assets/fonts/AnonymousPro-Regular.ttf");
}

@font-face {
        font-family: "HindMadurai-Bold";
        src: url("@/assets/fonts/HindMadurai-Bold.ttf");
}

@font-face {
        font-family: "HindMadurai-Medium";
        src: url("@/assets/fonts/HindMadurai-Medium.ttf");
}

@font-face {
        font-family: "HindMadurai-Regular";
        src: url("@/assets/fonts/HindMadurai-Regular.ttf");
}

@font-face {
        font-family: "HindMadurai-SemiBold";
        src: url("@/assets/fonts/HindMadurai-SemiBold.ttf");
}

@font-face {
        font-family: "WorkSans-Bold";
        src: url("@/assets/fonts/WorkSans-Bold.ttf");
}

@font-face {
        font-family: "WorkSans-Medium";
        src: url("@/assets/fonts/WorkSans-Medium.ttf");
}

@font-face {
        font-family: "WorkSans-Regular";
        src: url("@/assets/fonts/WorkSans-Regular.ttf");
}

@font-face {
        font-family: "WorkSans-SemiBold";
        src: url("@/assets/fonts/WorkSans-SemiBold.ttf");
}