@font-face {
        font-family: "AnonymousPro-Bold";
        src: url("@/assets/fonts/AnonymousPro-Bold.ttf");
}

@font-face {
        font-family: "AnonymousPro-BoldItalic";
        src: url("@/assets/fonts/AnonymousPro-BoldItalic.ttf");
}

@font-face {
        font-family: "AnonymousPro-Italic";
        src: url("@/assets/fonts/AnonymousPro-Italic.ttf");
}

@font-face {
        font-family: "AnonymousPro-Regular";
        src: url("@/assets/fonts/AnonymousPro-Regular.ttf");
}